# raw and intermediate data
data/*.json
data/*.rds
data/*.xlsx

# generated outputs
tables/*
graphes/*

# keep folder structure
!data/.gitkeep
!tables/.gitkeep
!graphes/.gitkeep

# quarto / rstudio / system
.Rhistory
.RData
.Rproj.user/
.quarto/
*_cache/
*.html
