# raw and intermediate data
data/*.json
data/*.rds
data/*.xlsx
*.xlsx
!data/2Reg_Dictionary_tidy.xlsx
!data/2Reg_patients_indications.xlsx
!data/2Reg_diagnoses.xlsx

# generated outputs
tables/*
graphes/*

# keep folder structure
!data/.gitkeep
!tables/.gitkeep
!graphes/.gitkeep

# quarto / rstudio / system
.Rhistory
.RData
.Rproj.user/
.quarto/
*_cache/
*.html
